In [522]:
import pandas as pd
import numpy as np

In [523]:
# Funcion para transformar los numeros de los codigos, en el formato correcto
def generar_codigo(number):
    if number == 'NaN':
        return ''
    else:
        return "00" + str(number)

In [524]:
df_clients = pd.read_csv('/home/pydev/workflow/dt_unifed_statistics/data/clients_erp_b2b.csv', delimiter=',', encoding='latin1')
df_clients['ID_TERCERO'] =  df_clients['ID_TERCERO'].astype(str) # add client column
df_clients['COD_FRECUENCIA_VISITA']  = df_clients['COD_FRECUENCIA_VISITA'].fillna(0).astype(int)
df_clients['COD_FRECUENCIA_VISITA'] = df_clients['COD_FRECUENCIA_VISITA'].astype(int).astype(str)
# df_clients['COD_FRECUENCIA_VISITA'] =  df_clients['COD_FRECUENCIA_VISITA'].astype(str) # add client column
# df_clients['COD_FRECUENCIA_VISITA'] = df_clients['COD_FRECUENCIA_VISITA'].fillna(0).astype(int)
df_clients.tail(3)
# df_clients.shape
# df_clients['COD_FRECUENCIA_VISITA'].unique()
# df_clients.info()

,COD_CIA,ROWID_TERCERO,NIT_TERCERO,ID_TERCERO,RAZON_SOCIAL,COD_SUCURSAL_CLIENTE,DES_SUCURSAL_CLIENTE,IND_ESTADO_ACTIVO_CLIENTE,COD_DIA_VISITA,DES_DIA_VISITA,COD_FRECUENCIA_VISITA,DES_FRECUENCIA_VISITA,COD_CANAL
184893,2,603652,901627866,901627866-069,ORREGO RAMIREZ SAS,069,ORREGO RAMIREZ SAS,1,000,No determinado,0,No determinado,OFF
184894,2,201013,30293113,30293113-001,GOMEZ RIOS LUZ MELVA,001,GOMEZ RIOS LUZ MELVA,1,006,Viernes,2,Quincena 1 y 3,NaN
184895,2,632882,70385245,70385245-001,GONZALEZ GIL CESAR AUGUSTO,001,BILLAR LA BENDICION,1,000,No determinado,0,No determinado,OFF

In [525]:
df_visitas                  = pd.read_csv('/home/pydev/workflow/dt_unifed_statistics/data/data_ruta_visitas_vendedor.csv')
df_visitas['FECHAS_VISITA'] = pd.to_datetime(df_visitas['Inicio_Visita'])
df_visitas['AÃ‘O']           = df_visitas['FECHAS_VISITA'].dt.year.astype(str)
df_visitas                  = df_visitas[df_visitas["AÃ‘O"]=='2023']
df_visitas['ID_TERCERO']    =  df_visitas['ID_TERCERO'].astype(str) # add client column

df_visitas.tail(3)

,Logintud,Latitud,Inicio_Visita,Finalizacion_Visita,Razon_Social_Cliente,ID_TERCERO,Nit,Codigo_Sucursal,Codigo_Vendedor,Des_vendedor,FECHAS_VISITA,AÃ‘O
10937,-73.634703,4.139436,2023-09-20 10:55:52,NaN,MARTHA ISABEL MARTINEZ DE GARZON,30004018-001,30004018,001,370,VEND RAMIREZ GERLY KATHERINE LOPEZ,2023-09-20 10:55:52,2023
10938,-76.323457,3.735835,2023-09-20 11:09:31,NaN,CARLOS ANDRES LOAIZA VALENCIA,1057759275-002,1057759275,002,907,VEND VARGAS SANDRA JULIETH GARCIA,2023-09-20 11:09:31,2023
10939,-73.669855,4.079245,2023-09-20 11:12:42,2023-09-20 11:12:48,MILLER LANIA ALAPE SALAZAR,40404159-001,40404159,001,388,VEND MANCERA REINEL BONILLA,2023-09-20 11:12:42,2023

In [526]:
df_visitas.shape

(10831, 12)

In [527]:
df_combined = df_visitas.merge(df_clients, on="ID_TERCERO", how="inner")

In [528]:
df_combined.shape

(10836, 24)

In [529]:
df_combined.head(3)

,Logintud,Latitud,Inicio_Visita,Finalizacion_Visita,Razon_Social_Cliente,ID_TERCERO,Nit,Codigo_Sucursal,Codigo_Vendedor,Des_vendedor,...,NIT_TERCERO,RAZON_SOCIAL,COD_SUCURSAL_CLIENTE,DES_SUCURSAL_CLIENTE,IND_ESTADO_ACTIVO_CLIENTE,COD_DIA_VISITA,DES_DIA_VISITA,COD_FRECUENCIA_VISITA,DES_FRECUENCIA_VISITA,COD_CANAL
0,-74.178103,4.764812,2023-01-04 08:33:43,NaN,CARLOS ERNESTO HERRRA ALFONSO,1070597717-001,1070597717,001,332,VEND CACERES JUAN CARLOS BUSTOS,...,1070597717,HERRRA ALFONSO CARLOS ERNESTO,001,LA LECHUZA LICORES GDT,0,006,Viernes,2,Quincena 1 y 3,ON
1,-74.806317,4.295503,2023-05-10 18:35:56,2023-05-10 18:37:54,CARLOS ERNESTO HERRRA ALFONSO,1070597717-001,1070597717,001,306,VEND GARZON RAMIRO OVALLE,...,1070597717,HERRRA ALFONSO CARLOS ERNESTO,001,LA LECHUZA LICORES GDT,0,006,Viernes,2,Quincena 1 y 3,ON
2,-74.826417,11.037483,2023-01-14 09:29:36,2023-01-14 09:31:03,MARIA JOSE DE VEGA ALVAREZ,1004120709-001,1004120709,001,1018,VEND ENCISO RICARDO ALFONDO VIZCAINO,...,1004120709,MARIA JOSE DE VEGA ALVAREZ,001,LICORES LA BUMANGUESA,0,002,Lunes,1,Semanal,OFF

In [530]:
# Copy
new_df = df_combined.copy()
# fill nan
new_df = new_df.fillna('')
# Lista de nombres de las columnas que deseas convertir
new_df['COD_FRECUENCIA_VISITA'] = new_df['COD_FRECUENCIA_VISITA'].apply(generar_codigo)
new_df = new_df.drop_duplicates(subset=['ID_TERCERO'])
# Select columns to analyze
# df_columns = ['ID_TERCERO', 'COD_DIA_VISITA','DES_DIA_VISITA','COD_FRECUENCIA_VISITA','DES_FRECUENCIA_VISITA','CANAL']
# apply the columns
new_df = new_df[['ID_TERCERO', 'COD_DIA_VISITA','DES_DIA_VISITA','COD_FRECUENCIA_VISITA','DES_FRECUENCIA_VISITA']]
new_df.shape

(2821, 5)

In [531]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2821 entries, 0 to 10835
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_TERCERO             2821 non-null   object
 1   COD_DIA_VISITA         2821 non-null   object
 2   DES_DIA_VISITA         2821 non-null   object
 3   COD_FRECUENCIA_VISITA  2821 non-null   object
 4   DES_FRECUENCIA_VISITA  2821 non-null   object
dtypes: object(5)
memory usage: 132.2+ KB

In [532]:
# Abrir el archivo con las informacion de las fechas asignadas dado, el dia asignado y la frecuencia
df_calendario_Pimovil_Original = pd.read_csv('/home/pydev/workflow/dt_unifed_statistics/data/Calendario_Pimovil.csv')
# Se escogen solo las columnas que son de interes, solo los codigos el resto es redundante
nombres_Pimovil = ["FECHA","COD_DIA VISITA", "COD SEMANAL", "COD QUINCENAL", "COD MENSUAL"]

# df_calendario_Pimovil = df_calendario_Pimovil_Original[nombres_Pimovil]
df_calendario_Pimovil = df_calendario_Pimovil_Original.iloc[:, [0, 1, 3, 5, 7]]

# Funcion para transformar los numeros de los codigos, en el formato correcto
# def generar_codigo(number):
#   return "00"+str(number)

# Lista de nombres de las columnas que deseas convertir
columnas_a_convertir = ["COD_DIA VISITA", "COD SEMANAL", "COD QUINCENAL", "COD MENSUAL"]

#funcion .applymap para recorrer varias columnas y aplicar la tranformacion
df_calendario_Pimovil = df_calendario_Pimovil_Original.copy()
df_calendario_Pimovil[columnas_a_convertir] = df_calendario_Pimovil[columnas_a_convertir].applymap(generar_codigo)

# Usar el mÃ©todo .melt() para "desapilar" las columnas de cÃ³digos
df_calendario_Pimovil_UnaTabla = pd.melt(df_calendario_Pimovil, id_vars=["FECHA", "COD_DIA VISITA"], value_vars=["COD SEMANAL",	"COD QUINCENAL","COD MENSUAL"], var_name="Tipo_Codigo", value_name="Codigo_Frecuencia")

# Cambiar el nombre de la columna utilizando el mÃ©todo .rename()
df_calendario_Pimovil_UnaTabla.rename(columns={'COD_DIA VISITA': 'COD_DIA_VISITA','Codigo_Frecuencia':'COD_FRECUENCIA_VISITA', 'FECHA': 'FECHAS_VISITA', 'Tipo_Codigo':'TIPO_CODIGO'}, inplace=True)

df_calendario_Pimovil_UnaTabla.head(3)
# df_calendario_Pimovil_UnaTabla.info()

  FECHAS_VISITA COD_DIA_VISITA  TIPO_CODIGO COD_FRECUENCIA_VISITA
0    01/01/2023            001  COD SEMANAL                   001
1    02/01/2023            002  COD SEMANAL                   001
2    03/01/2023            003  COD SEMANAL                   001

In [533]:
# new_df = new_df[new_df['ID_TERCERO']=='1005566146-001']
# new_df.tail(1)

In [534]:
visitas_vendedor = pd.merge(df_calendario_Pimovil_UnaTabla, new_df)
# visitas_vendedor['FECHAS_VISITA'] = pd.to_datetime(visitas_vendedor['FECHAS_VISITA'], format= "%d/%m/%Y").astype(str)

visitas_vendedor.head(3)
# visitas_vendedor.info()

Empty DataFrame
Columns: [FECHAS_VISITA, COD_DIA_VISITA, TIPO_CODIGO, COD_FRECUENCIA_VISITA, ID_TERCERO, DES_DIA_VISITA, DES_FRECUENCIA_VISITA]
Index: []

In [535]:
df_visitas_dataset = df_visitas.copy()
df_clients_2 = df_clients[['ID_TERCERO', 'COD_CANAL']]

df_visitas_dataset_2 = pd.merge(df_visitas_dataset, df_clients_2)
df_visitas_dataset_2['FECHAS_VISITA'] = pd.to_datetime(df_visitas_dataset_2['Inicio_Visita'])
df_visitas_dataset_2['FECHAS_VISITA'] = df_visitas_dataset_2['FECHAS_VISITA'].dt.date.astype(str)

df_visitas_dataset_2.head(3)

,Logintud,Latitud,Inicio_Visita,Finalizacion_Visita,Razon_Social_Cliente,ID_TERCERO,Nit,Codigo_Sucursal,Codigo_Vendedor,Des_vendedor,FECHAS_VISITA,AÃ‘O,COD_CANAL
0,-74.178103,4.764812,2023-01-04 08:33:43,NaN,CARLOS ERNESTO HERRRA ALFONSO,1070597717-001,1070597717,001,332,VEND CACERES JUAN CARLOS BUSTOS,2023-01-04,2023,ON
1,-74.806317,4.295503,2023-05-10 18:35:56,2023-05-10 18:37:54,CARLOS ERNESTO HERRRA ALFONSO,1070597717-001,1070597717,001,306,VEND GARZON RAMIRO OVALLE,2023-05-10,2023,ON
2,-74.826417,11.037483,2023-01-14 09:29:36,2023-01-14 09:31:03,MARIA JOSE DE VEGA ALVAREZ,1004120709-001,1004120709,001,1018,VEND ENCISO RICARDO ALFONDO VIZCAINO,2023-01-14,2023,OFF

In [536]:
df_result = pd.merge(visitas_vendedor, df_visitas_dataset_2, how="outer")

In [537]:
df_visitas_dataset_2.shape

(10836, 13)

In [538]:
df_result.shape

(10836, 18)

In [539]:
df_result.head(5)

,COD_DIA_VISITA,TIPO_CODIGO,COD_FRECUENCIA_VISITA,DES_DIA_VISITA,DES_FRECUENCIA_VISITA,Logintud,Latitud,Inicio_Visita,Finalizacion_Visita,Razon_Social_Cliente,ID_TERCERO,Nit,Codigo_Sucursal,Codigo_Vendedor,Des_vendedor,FECHAS_VISITA,AÃ‘O,COD_CANAL
0,NaN,NaN,NaN,NaN,NaN,-74.178103,4.764812,2023-01-04 08:33:43,NaN,CARLOS ERNESTO HERRRA ALFONSO,1070597717-001,1070597717,001,332,VEND CACERES JUAN CARLOS BUSTOS,2023-01-04,2023,ON
1,NaN,NaN,NaN,NaN,NaN,-74.806317,4.295503,2023-05-10 18:35:56,2023-05-10 18:37:54,CARLOS ERNESTO HERRRA ALFONSO,1070597717-001,1070597717,001,306,VEND GARZON RAMIRO OVALLE,2023-05-10,2023,ON
2,NaN,NaN,NaN,NaN,NaN,-74.826417,11.037483,2023-01-14 09:29:36,2023-01-14 09:31:03,MARIA JOSE DE VEGA ALVAREZ,1004120709-001,1004120709,001,1018,VEND ENCISO RICARDO ALFONDO VIZCAINO,2023-01-14,2023,OFF
3,NaN,NaN,NaN,NaN,NaN,-76.529010,3.471470,2023-02-01 17:30:29,NaN,LEIDY JOHANA ZULUAGA QUINTERO,1130620140-001,1130620140,001,920,VEND AGUDELO JHON ALEXANDER MONTENEGRO,2023-02-01,2023,OFF
4,NaN,NaN,NaN,NaN,NaN,-76.492083,3.475673,2023-02-18 09:23:59,2023-02-18 09:24:35,LEIDY JOHANA ZULUAGA QUINTERO,1130620140-001,1130620140,001,920,VEND AGUDELO JHON ALEXANDER MONTENEGRO,2023-02-18,2023,OFF